<%- include('./partials/search') %>

<h2><%= title %></h2>
<div class="form-row">   
   <table>
     <tr>
       <th>No</th>
       <th>Description</th>
       <th>Customer</th>
       <th>Date</th>
       <th>FAB Number</th>
       <th>Drawing No</th>
       <th>Order Qty</th>              
     </tr>
      <% let i=1 %>
      <% let name ="" %>
      
      <% so.forEach(s => { %>
       
          <% cu.forEach(c => { %>
            <% if( c.id == s.customer) { %>
                <% name = c.name %>              
            <% } %>
          <% }) %>       
            
          <tr>
            <td><a class="btn-primary " href="/salesOrders/<%= s.id %>"><%= i %></a></td>
            <td><%= s.description %></td>
            <td><%= name %></td>
            <td><%= s.date.toISOString().split('T')[0] %></td>
            <td><%= s.orderNumber %> </td>
            <td><%= s.drawingNo%> </td>
            <td><%= s.orderQty %> </td>               
          </tr>
            <% i= i+1 %>
        
      <% }) %> 
    </table>
  </div>
