<%- include('./partials/search') %>

<h2><%= title %></h2>
<div class="form-row">   
   <table>
     <tr>
       <th>No</th>
       <th>FAB Number</th>
       <th>Customer</th>
       <th>Date</th>       
                 
     </tr>
      <% let i=1 %>
      <% let name ="" %>
      <% let fabList =[] %>
      <% so.forEach(s => { %>
       
          <% cu.forEach(c => { %>
            <% if( c.id == s.customer) { %>
                <% name = c.name %>              
            <% } %>
          <% }) %>       
           
          <% let position = fabList.indexOf(s.orderNumber)  %>
          <% if (position < 0) {%>
            <% fabList.push(s.orderNumber) %>
          
            <tr>
              <td><a class="btn-primary " href="/salesOrders/<%= s.id %>"><%= i %></a></td>
              <td><%= s.orderNumber %> </td>
              <td><%= name %></td>
              <td><%= s.date.toISOString().split('T')[0] %></td>
                      
            </tr>
          <% } %>
          <% i= i+1 %>
            
      <% }) %> 
    </table>
  </div>
