<h2 class="page-header">New FAB Order</h2>
<form action="/salesOrders" method="POST">
  <div class="form-row">
    <div class="form-item">
      <label>Date</label>
      <input type="date" name="date" value="<%= new Date().toISOString().split('T')[0] %>">
    </div>
    <div class="form-item">
      <label>FAB Order Number</label>      
      <input type="text" name="orderNumber" value="<%= IptFABNo %> " readonly >
    </div>
    <div class="form-item">
      <label>Barcode</label>      
      <input type="text" name="barcode" value="<%= IptPANo %> " readonly >
    </div>

  </div>  

  <div class="form-row">    
    <div class="form-item">
      <label>PO Number</label>
      <input type="text" name="poNumber" value="<%= salesOrder.poNumber %> ">
    </div>

    <div class="form-item">
      <label>Customer</label>
      <select name="customer">  
        <% customers.forEach(customer => { %>        
          <% if (String(customer.id) === String(salesOrder.customer)) { %>
            <option selected label="<%= customer.name %>" value="<%= customer.id %>"></option>
          <% } else { %>
           <option label="<%= customer.name %>" value="<%= customer.id %>"></option>
          <% } %>
        <% }) %> 
      </select>    
    </div>
    



  </div>

  <div class="form-row">
   <div class="form-item">
    <label>Quotation Number</label>
    <input type="text" name="quotationNo" value="<%= salesOrder.quotationNo %> " >
   </div>   
  </div>

  <br>

  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/salesOrders">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>