





<h2 class="page-header"><%= form %> Part</h2>

<form action="/dos/<%= doL.id %>?_method=PUT" method="POST">
 
  <div class="form-row">
    <div class="form-item">
      <label>Date</label>
      <input type="date" name="date" value="<%= doL.date == null ? '' : doL.date.toISOString().split('T')[0] %>" readonly>
    </div>

    <div class="form-item">
      <label>Customer</label>      
      <input type="text" name="customer" value="<%= customer.name %>" readonly>
      <input type="hidden"  name="customerId" value="<%= customer.id %>">
          
    </div> 

    <div class="form-item">
      <label>DO Number</label>
      <input type="hidden" name="id" value="<%= doL.id%>">
      <input type="text" name="doNumber" value="<%= doL.doNo%>" readonly>
    </div>
  </div>

  <div class="form-row">
    <div class="form-item">
      <label>Drawing Number</label>      
      <select name="soId">          
        <% salesOrders.forEach(so => { %>             
            <% if (doL.drawingNo === so.drawingNo) {%>
              <option selected label="<%= so.drawingNo %>" value="<%= so.id %>"> </option>   
            <% } else { %>          
                  <option label="<%= so.drawingNo %>" value="<%= so.id %>"> </option>   
                  <% } %>
        <% }) %>        
      </select>
    </div>

    <div class="form-item">
      <label>Quantity</label> 
      <input type="number" name="deliverQty" value="<%= doL.deliverQty %>">
    </div>
  </div>  

  <div  class="form-row"> 
    <div class="btn-row"  >
      <label> </label>   
      <button class="btn btn-primary" name="button" value="<%=form%>" type="submit"> Save </button>
    </div>
  </div>
</form>

<%- include('../partials/deleteForm',
        { url: `/dos/${doL.id}` }) %> 


  






