<script> 


  function myFunction(idx) { 
    //alert("change"+idx)    
    document.getElementById("deliveredQty").selectedIndex = idx   
    document.getElementById("orderQty").selectedIndex = idx    
  }
    </script>

<h2 class="page-header">DO <%= form %> Part</h2>

<form action="/dos/<%= doL.id %>?_method=PUT" method="POST">
 
  <div class="form-row">

    <div class="form-item">
      <label>Date</label>
      <input type="date" name="date" value="<%= doL.date == null ? '' : doL.date.toISOString().split('T')[0] %>" readonly>
    </div>

    <div class="form-item">
      <label>Issuer</label>
      <input type="text" name="issuer" value="<%= doL.issuer %> " readonly>
    </div>

    <div class="form-item">
      <label>Customer</label>      
      <input type="text" name="customer" value="<%= customer.name %>" readonly>
      <input type="hidden"  name="customerId" value="<%= customer.id %>">
    </div> 

    <div class="form-item">
      <label id="do">DO Number</label>
      <input type="hidden" name="id" value="<%= doL.id%>">
      <input type="text" name="doNumber" value="<%= doL.doNo%>" readonly>
    </div>

  </div>  

  <div class="form-row">
    <div class="form-item">

      <label>Scan Barcode</label> 
      <input type="text" id="barcodeS" name="barcodeS" >
    </div> 
      <div class="form-item">
      <label>Select Barcode</label>           
      <select id="barcode"   name="soId" onchange="myFunction(this.selectedIndex)"> 
        <% salesOrders.forEach(so => { %>  
          <% if (doL.customer.toString() === so.customer.toString() ) {%>
            
            <% if (doL.barcode === so.barcode ) {%>
              <option selected label="<%= so.barcode %>" value="<%= so.id %>" > </option>   
              <% } else { %>          
                  <option label="<%= so.barcode %>" value="<%= so.id %>"> </option>   
                <% } %>
          <% } %>
        <% }) %>        
      </select>
    </div>
  </div>

    <div class="form-row">
    <div class="form-item">
      <label>Order Qty</label> 
      <select name="" id="orderQty">
        <% let i=0%>
        <% orderQtyList.forEach(oq => { %>  
          <option label="<%= orderQtyList[i] %>"></option>
          <% i++ %>
        <% }) %> 
      </select>      
    </div>
    <div class="form-item">
      <label>Delivered Qty</label> 
      <select name="" id="deliveredQty">
        <% i=0 %>
        <% deliveredQtyList.forEach(oq => { %>  
          <option label="<%= deliveredQtyList[i] %>"></option>
          <% i++ %>
        <% }) %> 
      </select>      
    </div>
    

    <div class="form-item">
      <label>Quantity</label> 
      <input type="number" id="deliverQty" name="deliverQty" value="<%= doL.deliverQty %>" >
    </div>

  </div>
  <br>
  <div  class="form-row"> 
    <div class="btn-row btn-row-end"  >       
      <button class="btn btn-primary" name="button" value="<%=form%>" type="submit"> Save </button>
      
    </div>
  </div>
</form>
<div class="btn-row btn-row-end"  > 
<%- include('../partials/deleteForm',
        { url: `/dos/${doL.id}` }) %>
</div>        




  






