<h2 class="page-header">DO Details</h2>

<form action="/dos/<%= doL.id %>?_method=PUT" method="POST">

  <div class="form-row">
    <div class="form-item">
      <label>Date</label>
      <input type="date" name="date" value="<%= doL.date == null ? '' : doL.date.toISOString().split('T')[0] %>" readonly>
    </div>
    <div class="form-item">
      <label>DO Number</label>
      <input type="text" name="doNumber" value="<%= doL.doNo %> " readonly>
    </div>
  </div>

  <div class="form-row">  
    <div class="form-item">      
      <label>Customer</label>
      <input type="text" name= "name" value=" <%=customer.name%> " readonly>          
    </div>
    <div class="form-item">
      <label>Issuer</label>
      <input type="text" name="issuer" value="<%= doL.issuer %> " readonly>
    </div>
  </div>
  <br>

  <h2>Parts Details</h2>
  <div class="form-row">   
   <table>
     <tr>
       <th>No</th>
       <th>FAB No.</th>
       <th>PO No.</th>
       <th>Barcode</th>
       <th>Order Qty</th>
       <th>Deliver Qty</th>                  
     </tr>
      <% let i=1 %>
      <% dos.forEach(dod => { %> 
        <% if (doL.doNo === dod.doNo) { %>
          <tr>
            <td><a class=" btn-primary" href="/dos/<%= dod.id %>/edit"><%= i %></a></td>
            <td><%= dod.soNumber %></td>
            <td><%= dod.poNumber %> </td>
            <td><%= dod.barcode %> </td>
            <td><%= dod.orderQty %> </td>
            <td><%= dod.deliverQty %> </td>          
          </tr>
          <% i= i+1 %>
        <% } %>  
      <% }) %> 
    </table>
  </div>

  <div class="form-row form-row-end btn-row">
    <!-- <a class="btn btn-danger" href="/dos">Cancel</a> -->
    <a class="btn btn-primary" href="/dos/<%= doL.id %>/add">Add Part</a>
    <a class="btn btn-primary" href="/dos/<%= doL.id %>/print">Print</a> 
    <!-- <button class="btn btn-primary" type="submit">Update</button> -->
  </div>

</form>