<div class="form-row">
  <div class="form-item">
    <label>Name</label>
    <input type="text" name="name" value="<%= customer.name %>">
  </div>
  <div class="form-item">
    <label>Payment Terms</label>
    <input type="text" name="terms" value="<%= customer.terms %>">
  </div>
</div>
<div class="form-row">
  <div class="form-item">
    <label>Phone</label>
    <input type="text" name="phone" value="<%= customer.phone %>">
  </div>
  <div class="form-item">
    <label>Email</label>
    <input type="text" name="email" value="<%= customer.email %>">    
  </div>
</div>
<div class="form-row">  
  <div class="form-item">
    <label>PIC</label>
    <input type="text" name="pic" value="<%= customer.pic %>">
  </div>
  <div class="form-item">
    <label>Handphone</label>
    <input type="text" name="handphone" value="<%= customer.handphone %>">
  </div>
</div>
<div class="form-row"> 
  <div class="form-item">
    <label>Address</label>
    <input type="text" name="address" value="<%= customer.address %>">
  </div>
</div>
<br>